@import "assets/scss/variable.scss";

$layout-light-bg-color: #f5f5f5;

$sidebar-min-width: 83px;
$sidebar-max-width: 260px;

$sidebar-light-bg-color: $light-bg-color;

$sidebar-light-hover: $light-hover;
$sidebar-light-active-hover:$light-active-hover;
$sidebar-light-color: $light-color;
$sidebar-light-box-shadow: $light-box-shadow;

$sidebar-dark-hover: $dark-hover;
$sidebar-dark-active-hover:$dark-active-hover;
$sidebar-dark-color: $dark-color;

