@import './variable.scss';

.menu {
  background: $light-bg-color;
  border-radius: 8px;
  position: absolute;
  top: 64px;
  right: 0;
  width: 160px;
  text-align: center;
  color: $light-color;
  font-weight: 600;
  box-shadow: $light-box-shadow;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  padding: 15px 0;

  li {
    padding: 10px 0 ;

    &:hover {
      background: $light-active-hover;      
    }
  }
}

.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  cursor: pointer;
}
