$light-bg-color: #fff;
$light-hover: #bbbbbb;
$light-active-hover:#ececec;
$light-border:#e4e6e8;
$light-color: #384551;
$light-box-shadow: 0 0.125rem 0.375rem 0 rgba(34, 48, 62, 0.1);


$dark-hover: #6936b6;
$dark-active-hover:#8f44fd;
$dark-color: #e1ecff;




.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  padding-right: 1rem;
  padding-left: 1rem;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

@media (min-width: 992px) {
    .container,
    .container-fluid,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl,
    .container-xxl {
      padding-right: 1.625rem;
      padding-left: 1.625rem;
    }
  }