@import "../variable.scss";

.nav-header {
    backdrop-filter: blur(10px);
    z-index: 1500;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    min-width: 90%;
    padding: 15px 30px;
    border-radius: 5px;

    box-shadow: $sidebar-light-box-shadow;
}