@import "../variable.scss";
@import "./burger/bugger.scss";
@import "./nav/nav.scss";


button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  text-align: left;
}

.sidebar {
  width: $sidebar-min-width;
  height: 100%;
  padding: 0 16px;
  background: $sidebar-light-bg-color;
  box-shadow: $sidebar-light-box-shadow;
  transition: width 0.45s;
  overflow-x: hidden;

  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
  
  &::-webkit-scrollbar {
    display: none;
  }

 

  &.open {
    width: $sidebar-max-width;
    transition: 0.45s;

    :is(.sidebar-header) {
      flex-direction: row-reverse;
    }

    :is(.logo) {
      display: block;
      transition: 1s;
    }

    :is(.sidebar .nav-button .hasSub) {
      opacity: 1;
      transition: 2s;
    }
  }

  &:not(.open) button:hover p {
    opacity: 1;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
  }
}